@charset "UTF-8";
body{
	background-color:#008040;
	background-size:100%;
	min-height:720px;
	overflow:hidden;
}

.input{
	position:relative;
	margin: 0 auto;
	width:50%;
	height:30px;
	font-size:26px;
	box-shadow:3px 3px 8px rgba(100,100,100,.2);
	-moz-box-shadow:3px 3px 8px rgba(100,100,100,.2);
	-webkit-box-shadow:3px 3px 8px rgba(100,100,100,.2);
	-o-box-shadow:3px 3px 8px rgba(100,100,100,.2);
	-khtml-box-shadow:3px 3px 8px rgba(100,100,100,.2);	
	border-radius:6px;
}
.Notas{
	top:10px;
	position:relative;
	margin: 0 auto;
	width:calc(100% - 40px);
	border:1px solid #CCC;
	min-height:400px;
	padding:10px;
	display:inline-block;
	
}
.Cedula{
	padding:5px;
	margin:10px;
	width:250px;
	height:80px;
	border:1px solid #FFFFFF;
	box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-moz-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-webkit-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-o-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-khtml-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-ms-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	background-size:100%;
	float:left;
}
.Moeda{
	padding:5px;
	margin:10px;
	width:80px;
	height:80px;
	border-radius:60px;
	border:1px solid #595959;
	box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-moz-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-webkit-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-o-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-khtml-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-ms-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	float:left;	
	
}
#QtdsNotas{
	position:relative;
	top:-15px;
	left:-15px;
	border-radius:8px;
	width:30px;
	background-color:#00FF00;
	border:1px solid #000000;
	box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-moz-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-webkit-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-o-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-khtml-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	-ms-box-shadow:2px 2px 8px rgba(100,100,100,.2);
	font-size:18px;
	padding:10px;
}
#nota{
	color:#AA0000;
}
.fundo{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.4);
	z-index:100;
}
.mg{
	position:relative;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	z-index:101;
}
.rqst_0,.rqst_1,.rqst_2{
	position:relative;
	border-radius:6px;
	background-color:#408080;
	position:relative;
	width:60vw;
	height:70vh;
	box-shadow:3px 3px 19px #080;
	-moz-box-shadow:3px 3px 19px #080;
	-webkit-box-shadow:3px 3px 19px #080;
	-o-box-shadow:3px 3px 19px #080;
	-ms-box-shadow:3px 3px 19px #080;
	-khtml-box-shadow:3px 3px 19px #080;
	z-index:102;
}

.opt_option{
	position:relative;
	width:55vw;
	height:40px;
	font-size:26px;
	text-align:center;
	background-color:#FFF;
	padding:15px;
	margin:15px auto;
	border-radius:4px;
}
@media screen and (max-width:700px){
	.opt_option{
		width:calc(85% - 15px);
		margin:5px;
	}	
}
.opt_option:hover{
	background-color:#00FF00;
	padding:16px;
	cursor:pointer;
	font-size:27px;
}
.opt_option:active{
	background-color:#008000;
	padding:15px;
	font-size:24px;	
	font-weight:bold;
	
}
h1{
	text-align:center;
}
button{
	position:absolute;
	right:20px;
	font-size:26px;
	font-weight:bold;
}
button:hover{
	background-color:#80FF00;
	cursor:pointer;
}
/* MOBILIE */
@media screen and (max-width:358px){

	.rqst_0,.rqst_1,.rqst_2{
		width:80vw;
		height:70vh;		
	}
	.opt_option{
		padding:10px;
		margin:10px auto;
		font-size:22px;
	}	
	h1{font-size:16px;}
}
@media screen and (max-width:180px){
	.opt_option{
		font-size:22px;
	}
}
.report{
	z-index:100;
	position:relative;
	top:0px;
	position:relative;
	text-align:center;
	margin:0 auto;
	font-size:26px;
	width:50vw;
}
.report form{

}
.report form select{
	font-family:sans-serif,Arial;
	position:relative;
	font-size:18px;
	width:100%;
	text-align:center;
	padding:5px;
}
.report form textarea{
	width:calc(100% - 5px);
	min-height:95px;
}